.panel {
    float: left;
}

.w16 {
    width: 320px;
    padding: 0 20px;
}

.w24 {
    width: 480px;
    padding: 0 20px;
}

.w32 {
    width: 680px;
    padding: 0 20px;
}

.clear-float {
    clear: both;
}

#slider-controls {
    min-height: 70px;
}

#slider-div {
    border-radius: 30px;
    height: 10px;
    -webkit-box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.24);
    -moz-box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.24);
    box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.24);
    background: #e8e8e8;
    padding-top: 2px;
    padding-left: 2px;
}

/* .question-marker {
            width: 18px;
            height:18px;
            top: 9px;
            border: 2px solid #fff;
            background-color: #aaa;
            border-radius: 18px;
        }*/

.question-marker {
    margin-top: 21px;
    position: relative;
    background: #ffffff;
    color: #737373;
    font-family: Arial;
    font-size: 20px;
    line-height: 31px;
    box-shadow: 3px 4px 4px -2px #A3A3A3;
    text-align: center;
    width: 34px;
    height: 34px;
    border-radius: 20px;
    padding: 2px;
}

div.tooltip {	
    position: absolute;			
    text-align: center;			
    width: auto;
    max-width: 300px;					
    height: auto;					
    padding: 12px 8px;				
    font: 12px sans-serif;		
    background: #eee;	
    border: 0px;		
    border-radius: 2px;			
    pointer-events: none;			
}

#slider-progress {
    height: 8px;
    background: #93278F;
    border-width: 0;
    /* margin-top: 1px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.answer-marker {
    width: 16px;
    height: 16px;
    top: -8px;
    border-radius: 8px;
    background: blue;
}

.answer-marker-answer {
    top: 8px;
}

.progress-hover {
    background-color: blue!important;
}

div.previous {
    background-color: #000!important;
}

div.next {
    background-color: #FFF!important;
}

div.current {
    border-width: 0.5px;
    border-color: #bfd2be;
    border-style: solid;
    background-color: #e2e2e2!important;
}

#right-window {
    align-items: stretch;
}

#vertical-fill-parent {
    width: 100%;
    height:100%;
    display: flex;
    flex-direction: column;
}

#right-window .vertical-fill {
    flex: 1;
    width: 100%;
    height: 50%;
}

#log-parent {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#log-parent {
    width: 100%;
    flex: 1;
    align-items: stretch;
    position: relative;
    background: #eee;
    overflow: hidden;
}

#question-timing .active {
    background: blue;
    color: #fff;
}

#log-timing {
    position: relative;
    display: block;
    background: #FFF;
    width: 100%;
    height: 350px;
}

div#camera {
    /* style */
}

div#controller_right {
    /* style */
}

div#sphere {
    /* style */
}

div.circle {
    display: block;
    position: absolute;
    background-color: black;
    height: 20px;
    width: 20px;
    border-radius: 20px;
}

path#pointer {
    stroke: black;
}

path.camera-pointer {
    stroke: black;
}

#header {
    width: 100%;
    float: left;
    padding-bottom: 16px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
}

.header-item {
    width: 34%;
}

#header .header-item:not(:last-child) {
    padding-right: 24px;
}

#header .header-item input {
    width: 50%;
}

div#question-parent {
    background: white;
    width: 100%;
    min-height: 250px;
    font-size: 18px;
}


/* Player UI  */

div#controlls_container {
    background: white;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    float: left;
    padding-left: 40px
}

div#demo {
    float: left;
    padding-top: 10px;
}

div#slider-controls {
    padding-top: 44px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #bfbdbd;
    margin-left: 50px;
    padding-left: 50px;
}

div#question-marker-parent {
    position: relative;
    top: 55px;
}

/*   UI Elements   */

button {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    font-size: 8px;
    stroke-width: 0px;
    background-color: #93278F;
    border-width: 0px;
}

button img {
    width: 65px;
    margin-top: -10px;
    margin-left: -16px;
}

button#tostart {
    background-image: url(img/buttons.svg);
    background-repeat: no-repeat;
    background-size: 250px;
}

button#pause {
    background-image: url(img/buttons.svg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: -101px;
}

button#forward {
    background-image: url(img/buttons.svg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: -151px;
}

button#skipbackward {
    background-image: url(img/buttons.svg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: -52px;
}

button#skipforward {
    background-image: url(img/buttons.svg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: -200px;
}

#line {
    stroke-width:2px;
    stroke:rgb(0,0,0);
}

#svg-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.two-d-point {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 10px;
    position: absolute;
}
