body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #EFEFF4;
    font-family: 'Source Sans Pro', sans-serif;
}

/*Index*/
#divPartSelection{
    margin: 10px;
}

tbody {
    font-size: 12px;
}

.partList_header{
    border: 1px black solid;
    padding: 5px;
    background-color: lightgray;
    font-weight: bold;
}

.selectedRow{
    background-color: #8f1393ce;
    color: white;
    border-radius: 5px;
}

#btnAnalyse{
    margin-top: 20px;
    background-color: #8f1393ce;
    color: white;
    border-width: thin;
}


/*Research Info*/
#home_button{
    width: 30px;
}
#research-info {
    width: 100%;
    float: left;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 20px;
    display: flex;
    background-color: #8f1393ce;
    color: white;    
}

.header-item {
    margin-left: 10px;
    width: 25%;
    font-size: 15px;
}

/*Video feed*/
#video-panel {
    width: 680px;
    float: left;
    padding: 0 20px;    
}

#video-feed {
    width: 100%;
}

#video_time {
    text-align: left;
    font-weight: bold;
}

/*Analyse-window*/
#analyse-window {
    width: 480px;
    float: left;
    align-items: stretch;
    padding: 0 20px;
}

/*Minimap*/
#minimap-parent {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    overflow: hidden;
}

#minimap-canvas {
    height: 400px;
    width: 400px;
    position: relative;
    display: block;
    background: #FFF;
}

#minimap-settings{
    font-size: 12px;
}

/*Minimap objects*/
#HMD{
    height: 30px;
    width: 30px;
}

.controller{
    height: 30px;
    width: 30px;
}

.controllerLine{
    height: 300px;
    stroke-width: 2;
    stroke: black;
}

.gridlines{
    stroke-width: 1;
    stroke: lightgray;
}

.sphereNormal{
    fill: #93278F;
    stroke: black;
}
.sphereInvisible{
    fill: #93278f48;
    stroke: lightgray;    
}
.sphereHighlighted{
    fill: #719E98;
    stroke: black;    
}
.sphereClicked{
    fill: red;
    stroke: black;
}
.sphereClickedTarget{
    fill: green;
    stroke: black;
}

/*Questions and answers*/
#question-parent {
    height: 250px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    overflow: hidden;
}

/*Timing controls*/
div#controlls_container {
    float: left;
    background: white;
    width: 100%;
    padding-left: 40px;
}

div#button_panel {
    height: 70px;
    float: left;
    padding-top: 20px;
}

button.btn_control {
    height: 50px;
    width: 50px;
    border-radius: 40px;
    font-size: 8px;
    stroke-width: 0px;
    background-color: #93278F;
    border-width: 0px;
}

button#btn_replay {
    background-image: url(img/buttons.svg);
    background-repeat: no-repeat;
    background-size: 250px;
}

button#btn_previouscue {
    background-image: url(img/buttons.svg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: -52px;
}

button#btn_pause {
    background-image: url(img/buttons.svg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: -101px;
}

button#btn_play {
    background-image: url(img/buttons.svg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: -151px;
}

button#btn_nextcue {
    background-image: url(img/buttons.svg);
    background-repeat: no-repeat;
    background-size: 250px;
    background-position-x: -200px;
}

/*Slider*/
div#slider_controls {
    height: 70px;
    float: left;
    padding-top: 20px;
    margin-left: 50px;
    border-left-style: solid;
    border-left-width: 1px;
    border-left-color: #bfbdbd;
}

#slider-div {
    border-radius: 30px;
    height: 10px;
    -webkit-box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.24);
    -moz-box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.24);
    box-shadow: inset 1px 1px 3px 0px rgba(50, 50, 50, 0.24);
    background: #e8e8e8;
    padding-top: 2px;
    padding-left: 2px;
}

div#question-marker-parent {
    position: relative;
    top: 10px;
}

.question-marker {
    position: relative;
    background: #93278F;
    font-family: Arial;
    font-size: 20px;
    line-height: 31px;
    box-shadow: 3px 4px 4px -2px #A3A3A3;
    text-align: center;
    width: 34px;
    height: 34px;
    border-radius: 20px;
    border-color:#000000;
    border-width: 0.5px;
    border-style: solid;
    padding: 2px;
}

div.current {
    border-width: 0.5px;
    border-color:#000000;
    border-style: solid;
    background-color: #e2e2e2!important;
}

#slider-progress {
    height: 8px;
    background: #93278F;
    border-width: 0;
    /* margin-top: 1px; */
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.progress-hover {
    background-color: blue!important;
}
